.product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed silver;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.product img {
  height: 80px;
  border-radius: 10px;
}
.product div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product div button {
  background-color: #fe5d42;
  border: none;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-in-out;
}
.product div button:hover {
  opacity: 0.8;
}
.product button {
  cursor: pointer;
}
.count {
  font-size: 1rem;
  margin: 0 15px;
}
