.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 45px;
}
.product {
  background: #fff;
  border: 2px dashed silver;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 15px;
}
.product .title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fe5d42;
  margin: 10px 0;
}
.product .price {
  color: #505050;
  margin-bottom: 30px;
}
.product img {
  border-radius: 10px;
}
.product div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product div button {
  background-color: #fe5d42;
  border: none;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-in-out;
}
.product div button:hover {
  opacity: 0.8;
}
.product div > * {
  cursor: pointer;
}
