.header,
.footer {
  background-color: #fe5d42;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .linkToCart {
  position: relative;
  background-color: #fff;
  padding: 3px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header .linkToCart:hover {
  opacity: 0.9;
}
.header .linkToCart .count {
  font-size: smaller;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background-color: #000;
  border-radius: 11px;
  min-width: 22px;
  line-height: 22px;
  height: 22px;
  text-align: center;
  transform: translate(50%, -50%);
}
.footer {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 100px;
}
